header { margin:0; padding-bottom: 40px; text-align:center; border-bottom:solid 8px #eee;}
section {border-bottom:solid 8px #eee; padding-top: 40px;}
h1 {font-size:4em; margin: 0 0 10px; font-weight:normal; font-family: 'Courgette', cursive; }
h2 { font-size:2em; margin: 0 0 10px; font-weight:normal; font-family: 'Courgette', cursive; }
h3 { font-size:1.4em; margin: 0 0 10px; font-weight:normal; font-family: 'Courgette', cursive; }
h4, p { margin:0;padding: 0;}
